<!--Menu for the articles page (Articles, Galerie d'images, Dates importantes, Informations de contact, Favoris, Déconnexion)-->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title (click) = "gomenu()">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon icon = "newspaper"></ion-icon>
        <ion-label (click)="goarticle()">Articles</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon icon = "images"></ion-icon>
        <ion-label (click)="gogalerie()">Galerie d'images</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon icon = "calendar"></ion-icon>
        <ion-label>Dates importantes</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon icon = "call"></ion-icon>
        <ion-label (click) = "goinfo()">Informations de contact</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon icon = "star"></ion-icon>
        <ion-label (click) = "gofavoris()">Favoris</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon icon = "log-out"></ion-icon>
        <ion-label (click) = "disconnect()">Déconnexion</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!--Title of the important dates page-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Date importantes
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="menuPrincipal"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <!--Refresh the page-->
  <ion-refresher slot="fixed" (ionRefresh)="rafraichirListe($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Load and display the important dates -->
  <ion-list *ngIf = "listedate">
    <ion-card *ngFor="let date of listedate.articles">
      <ion-card-header *ngIf="date.important">
        <ion-card-title>{{ date.titre }}</ion-card-title>
        <p>Publié le {{ date.date | date: 'dd/MM/yyyy' }} à {{ date.date | date: 'HH:mm' }}</p>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>©2023 - Loïc SERRE</ion-title>
  </ion-toolbar>
</ion-footer>