<!--Menu for the articles page (Articles, Galerie d'images, Dates importantes, Informations de contact, Favoris, Déconnexion)-->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title (click) = "gomenu()">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon icon = "newspaper"></ion-icon>
        <ion-label>Articles</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon icon = "images"></ion-icon>
        <ion-label (click)="gogalerie()">Galerie d'images</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon icon = "calendar"></ion-icon>
        <ion-label (click) = "godate()">Dates importantes</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon icon = "call"></ion-icon>
        <ion-label (click) = "goinfo()">Informations de contact</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon icon = "star"></ion-icon>
        <ion-label (click) = "gofavoris()">Favoris</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon icon = "log-out"></ion-icon>
        <ion-label (click) = "disconnect()">Déconnexion</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!--Title of the articles page-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Articles
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="menuPrincipal"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <!--Refresh the articles list-->
  <ion-refresher slot="fixed" (ionRefresh)="rafraichirListe($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!--Search bar for searching an article by its title-->
  <ion-searchbar (ionInput)="rechercher($event)"></ion-searchbar>
  <!--Load the articles from the API and display them-->
  <ion-list *ngIf="listearticles && listfavoris">
    <ion-card *ngFor="let article of listearticles.articles">
      <ion-card-header>
        <ion-card-title>{{ article.titre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style = "font-weight: bold">Catégorie : {{ article.categorie }}</p>
        <p *ngIf="article.important == true" style="color: red">Important</p>
        <p *ngIf="article.important == false" style="color: green">Non important</p><br>
        <ion-item>
          <ion-label>Favoris</ion-label>
          <ion-toggle [checked]="isfavoris(article)" (ionChange)="ajouterFavoris(article, $event)" ></ion-toggle>
        </ion-item>
        <p>{{ article.texte }}</p><br>
        <p>Publié le {{ article.date | date:'dd/MM/yyyy' }} à {{ article.date | date:'HH:mm' }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>©2023 - Loïc SERRE</ion-title>
  </ion-toolbar>
</ion-footer>
